<form role="form">
    <div class="form-group" ng-show="contributor.id">
        <label for="inputId">Id: {{contributor.id || "Does not apply ATM"}}</label>
        <input type="hidden" id="inputId" ng-model="contributor.id">
    </div>
    <div class="form-group">
        <label for="inputName">Name</label>
        <input type="text" class="form-control" id="inputName" placeholder="name" ng-model="contributor.name">
    </div>
    <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="email" ng-model="contributor.email">
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="password" ng-model="contributor.password">
    </div>
    <div class="form-group">
        <label for="inputJob">Job</label>
        <input type="text" class="form-control" id="inputJob" placeholder="job position" ng-model="contributor.job_position">
    </div>
    <div class="form-group">
        <label for="inputCompany">Company</label>
        <input type="text" class="form-control" id="inputCompany" placeholder="company" ng-model="contributor.company">
    </div>
    <div class="form-group">
        <label for="inputGooglePlus">G+</label>
        <input type="url" class="form-control" id="inputGooglePlus" placeholder="google plus" ng-model="contributor.google_plus">
    </div>
    <div class="form-group">
        <label for="inputFacebook">Facebook</label>
        <input type="url" class="form-control" id="inputFacebook" placeholder="facebook" ng-model="contributor.facebook">
    </div>
    <div class="form-group">
        <label for="inputTwitter">Twitter</label>
        <input type="url" class="form-control" id="inputTwitter" placeholder="twitter" ng-model="contributor.twitter">
    </div>
    <div class="form-group">
        <label for="inputDescription">Description</label>
        <textarea class="form-control" id="inputDescription" placeholder="description" rows="2" ng-model="contributor.description"></textarea>
    </div>
    <div class="form-group">
        <label for="inputPhoto">Photo</label>
        <input type="url" class="form-control" id="inputPhoto" placeholder="photo" ng-model="contributor.photo">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
        {{contributor}}