<header class="row" scroll-aware-header>
    <div class="small-11 columns">
        <img class="header-image" src="images/logo.png" alt=""/>
        <span class="header-text"><strong>GDG</strong> Mendoza</span>
    </div>
    <div class="small-1 columns navbar-toggle-container pull-right" >
        <div class="button navbar-toggle" ng-click="toggleMenu()"><i class="fa fa-bars"></i></div>
    </div>
</header>
<div class="perspective effect-airbnb">

    <div id="main-container" ng-transclude container-perspective="!menu.visible"></div>

    <nav class="outer-nav left vertical" vertical-align menu-perspective="menu.visible">
        <a ng-href="{{link.url}}" class="icon-home" ng-repeat="link in links">{{link.name}}</a>
    </nav>
</div>