<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/foundation/css/foundation.css" />
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

</head>
<body>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div navigation>
    <div id="wrapper">

        <div id="body" class="iswhoweare" ng-view></div>

        <footer class="row">
            <div class="small-12 columns">
                <div class="small-10 medium-12 small-centered medium-uncentered columns">
                    <div class="row">
                        <div class="medium-1 columns" style="height:1px"></div>
                        <div class="medium-10 columns">
                            <img class="footer-logo" src="images/logo-footer.png" alt="GDG Mendoza Logo"/>
                        </div>
                    </div>
                </div>
                <div class="medium-2 show-for-medium-up footer-list columns">
                    <ul class="list-unstyled">
                        <li>Home</li>
                        <li>Blog</li>
                        <li>WWA</li>
                        <li>Events</li>
                    </ul>
                </div>
                <div class="medium-2 show-for-medium-up footer-list columns">
                    <ul class="list-unstyled">
                        <li>Contact</li>
                        <li>Search</li>
                        <li>Login</li>
                        <li>Register</li>
                    </ul>
                </div>
                <div class="medium-2 show-for-medium-up footer-list columns">
                    <ul class="list-unstyled">
                        <li>Follow us</li>
                        <li>Google Plus</li>
                        <li>Facebook</li>
                        <li>Twitter</li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</div>

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

<script id="views/postView.html" type="text/ng-template">
    <div class="row separator">
        <img class="col-md-12 image-shadow fix-row-padding big-image" ng-src="http://localhost/{{postCtrl.currentPost.cover}}" alt="">
    </div>
    <div class="row big-post-foot">
        <div class="col-md-3 col-sm-3 col-xs-12 text-center">
            <img class="image-shadow author-img"
                 ng-src="{{postCtrl.contributorList[postCtrl.currentPost.author].photo}}"
                 alt="Profile photo of {{postCtrl.contributorList[postCtrl.currentPost.author].name }}"/>
            <h4 class="post-author"><a class="red red-hover" ng-href="#">{{postCtrl.contributorList[postCtrl.currentPost.author].name}}</a>
            </h4>

            <div class="tag-container-tiny">
                <a class="label label-default tag-preview" ng-href="#" ng-repeat="tag in postCtrl.currentPost.tags">{{tag.name}}</a>
            </div>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-12 big-post-container line-height">
            <h1 class="dark-grey post-title">{{ postCtrl.currentPost.title }}</h1>
            <a class="big-post-date light-grey light-grey-hover" ng-href="#">Date: {{postCtrl.currentPost.createdAt |
                date:'yyyy-MM-dd'}} <span ng-if="postCtrl.currentPost.createdAt != postCtrl.currentPost.modifiedAt">(updated at {{postCtrl.currentPost.modifiedAt | date:'yyyy-MM-dd HH:mm'}})</span></a>

            <p class="post-paragraph">{{postCtrl.currentPost.content}}</p>

            <div class="row separator post-social-container">
                <a class="pull-right gplus-icon gplus-icon-big"
                   href="{{ postCtrl.contributorList[postCtrl.currentPost.author].googlePlus }}">
                    <img src="images/gplus.png" alt=""/>
                </a>
                <a class="pull-right fb-icon fb-icon-big"
                   href="{{ postCtrl.contributorList[postCtrl.currentPost.author].facebook }}">
                    <img src="images/facebook.png" alt=""/>
                </a>
                <a class="pull-right tw-icon tw-icon-big"
                   href="{{ postCtrl.contributorList[postCtrl.currentPost.author].twitter }}">
                    <img src="images/twitter.png" alt=""/>
                </a>
            </div>
        </div>
    </div>
</script>

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/modernizr/modernizr.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/lodash/dist/lodash.compat.js"></script>
<script src="bower_components/gsap/src/uncompressed/TweenMax.js"></script>
<script src="bower_components/fastclick/lib/fastclick.js"></script>
<script src="bower_components/jquery.cookie/jquery.cookie.js"></script>
<script src="bower_components/jquery-placeholder/jquery.placeholder.js"></script>
<script src="bower_components/foundation/js/foundation.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>

<script src="scripts/controllers/HomeCtrl.js"></script>
<script src="scripts/controllers/BlogCtrl.js"></script>
<script src="scripts/controllers/PostCtrl.js"></script>
<script src="scripts/controllers/WhoWeAreCtrl.js"></script>

<script src="scripts/directives/iswhoweare.js"></script>
<script src="scripts/directives/navigation.js"></script>
<script src="scripts/directives/scrollAwareHeader.js"></script>
<script src="scripts/directives/verticalAling.js"></script>

<script src="scripts/services/ContributorService.js"></script>
<script src="scripts/services/EventService.js"></script>
<script src="scripts/services/PostService.js"></script>
<script src="scripts/services/SubscriptionService.js"></script>
<!-- endbuild -->

<script>
    if (typeof angular !== 'undefined') {
        angular.element(document).ready(function () {
            angular.bootstrap(document, ['gdgsiteApp']);
        });
    }
</script>
</body>
</html>
