/****************************************** START GENERAL  *************************************************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #eaeaea;
}

html, body {
    font-family: 'Open Sans', sans-serif !important;
    font-size: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold !important;
    color: #4D4D4D;
}

h1:first-letter, h2:first-letter, h3:first-letter, h4:first-letter, h5:first-letter, h6:first-letter, p:first-letter {
    text-transform: uppercase;
}

.container {
    max-width: 940px;
}

.container .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

#wrapper {
    min-height: 100%;
    position: relative;
    background: #E6E6E6;
}

#body {
    /* padding-bottom must match footer height property*/
    padding: 10px 0 225px 0;
}

header, header .row, footer, footer .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

a {
    text-decoration: none !important;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

p {
    color: #808080;
}

/****************************************** END GENERAL *************************************************/

/****************************************** START HELPERS *************************************************/
.disabled {
    pointer-events: none;
}

.line-height {
    line-height: 1.67;
}

.image-responsive {
    width: 100%;
    height: auto;
}

.big-image {
    width: 100%;
    max-height: 470px;
    padding: 0 15px;
}

.tiny-image {
    margin-top: 10px;
    width: 100%;
    max-height: 97px;
}

.image-shadow {
    -webkit-box-shadow: 0 0 7px rgba(50, 50, 50, 1);
    -moz-box-shadow: 0 0 7px rgba(50, 50, 50, 1);
    box-shadow: 0 0 7px rgba(50, 50, 50, 1);
}

.leyend {
    font-weight: bold;
    color: #4D4D4D;
    padding-bottom: 5px;
    -webkit-border-image: url('../img/horizontal-line.jpg') 0 0 100% 0;
    -moz-border-image: url('../img/horizontal-line.jpg') 0 0 100% 0;
    border-image: url('../img/horizontal-line.jpg') 0 0 100% 0;
}

.leyend-margin-30 {
    margin-top: 30px;
}

.separator {
    padding-bottom: 15px;
    -webkit-border-image: url('../img/horizontal-line.jpg') 0 0 100% 0;
    -moz-border-image: url('../img/horizontal-line.jpg') 0 0 100% 0;
    border-image: url('../img/horizontal-line.jpg') 0 0 100% 0;
}

.separator-color {

    padding-bottom: 15px;
    height: 5px;
    width: 100%;
    -webkit-border-image: url('../img/line-down.jpg') 0 0 100% 0;
    -moz-border-image: url('../img/line-down.jpg') 0 0 100% 0;
    border-image: url('../img/line-down.jpg') 0 0 100% 0;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
    margin: 10px 5px;
}

/*********** START TYPOGRAFY ************/
.red {
    color: #DB4437;
}

.red-hover:hover, .red-hover:active {
    color: #ED9D97;
}

.grey {
    color: #808080;
}

.grey-hover:hover, .grey-hover:active {
    color: #B3B3B3;
}

.light-grey {
    color: #B3B3B3;
}

.light-grey-hover:hover, .light-grey-hover:active {
    color: #808080;
}

.dark-grey {
    color: #4D4D4D;
}

.dark-grey-hover:hover, .dark-grey-hover:active {
    color: #808080;
}

/*********** END TYPOGRAFY ************/

/*********** START BUTTONS ************/
button, .button {
    border: none !important;
    -webkit-appearance: none;
    transition: all 0.5s ease;
}

.gplus-icon {
    background-color: #DB4437;
}

.fb-icon {
    background-color: #3B5998;
}

.tw-icon {
    background-color: #4099FF;
}

.gplus-icon-tiny, .fb-icon-tiny, .tw-icon-tiny, .gplus-icon-tiny img, .fb-icon-tiny img, .tw-icon-tiny img {
    vertical-align: middle;
    text-align: center;
    line-height: 25px;
    margin: 10px 1px 0 1px;
    display: block;
    float: left;
    color: white;
    height: 23px;
    width: 23px;
}

.gplus-icon-big, .fb-icon-big, .tw-icon-big, .gplus-icon-big img, .fb-icon-big img, .tw-icon-big img {
    vertical-align: 0;
    height: 35px;
    width: 35px;
}

.post-social-container a {
    margin-left: 10px;
}

/*********** END BUTTONS ************/

[class*="span"].nospan {
    /* Quito el span para permitir que se vean bien los componentes */
    margin-left: 0 !important;
}

/*********** START RESPONSIVE ************/

/******* Default media: <= 480px *********/

/* Small screens */
@media only screen {
}

/* Define mobile styles */

@media only screen and (max-width: 40em) {
}

/* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens */
@media only screen and (min-width: 40.063em) {

    footer {
        height: 160px !important;
    }

    .footer-logo {
        margin-top: 25px !important;
    }
}

/* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
}

/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens */
@media only screen and (min-width: 64.063em) {
}

/* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
}

/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */
@media only screen and (min-width: 90.063em) {
}

/* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) {
}

/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens */
@media only screen and (min-width: 120.063em) {
}

/* min-width 1921px, xlarge screens */
/*
.navbar-toggle-container{
    height: 0;
}
.footer-center{
    margin-left: 0;
}
.header-center{
    margin-left: 25%;
}
.outer-left-column{
    padding-left:   0 !important;
    padding-right:  10px !important;
}
.outer-right-column{
    padding-right:  0 !important;
    padding-left:   10px !important;
}
#body{
    padding-bottom: 120px !important;
}
footer{
    height: 120px !important;
}
.author-img{
    margin: 20px 40px !important;
    text-align: inherit !important;
}
.big-post-container{
    -webkit-border-image:   url('../img/vertical-line.jpg')0 0 0 100% repeat !important;
    -moz-border-image:      url('../img/vertical-line.jpg')0 0 0 100% repeat !important;
    border-image:           url('../img/vertical-line.jpg')0 0 0 100% repeat !important;
}
.tag-container{
    margin: 20px 40px !important;
}*/
/*********** END RESPONSIVE ************/

/****************************************** END HELPERS *************************************************/

/****************************************** START NAVIGATION ********************************************/

.perspective {
    background: #aaa;
    position: relative;
    width: 100%;
    height: 100%;
}

#main-container {
    background: #fff;
    min-height: 100%;
    position: relative;
    outline: 1px solid rgba(0, 0, 0, 0);
    z-index: 10;
    -webkit-transform: translateZ(0) translateX(0) rotateY(0deg); /* reset transforms (Chrome bug) */
    transform: translateZ(0) translateX(0) rotateY(0deg);
}

#main-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
}

.effect-airbnb #main-container {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

/* Outer Nav */
.outer-nav {
    position: absolute;
    height: auto;
    font-size: 2em;
}

.outer-nav.left {
    left: 25%;
}

.outer-nav a {
    display: inline-block;
    white-space: nowrap;
    font-weight: 300;
    margin: 0 0 30px 0;
}

.outer-nav.vertical a {
    display: block;
}

.outer-nav a::before {
    display: inline-block;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    margin-right: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

/* Modal view */
.perspective.modalView {
    position: fixed;
    -webkit-perspective: 1500px;
    perspective: 1500px;
    background: rgb(51, 51, 51);
}

.modalView #main-container {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.modalView #wrapper {
    -webkit-transform: translateZ(-1px); /* solves a rendering bug in Chrome on Windows */
}

/****************************************** END NAVIGATION ***********************************************/

/****************************************** START HEADER *************************************************/
header {
    position: fixed;
    z-index: 100;
    min-width: 100% !important;
    background: rgb(51, 51, 51);
}

.row-header {
    max-width: 62.5em !important;
}

header nav {
    text-align: center;
    height: auto;
    width: auto;
}

nav a {
    position: relative;
    display: inline-block;
    margin: 15px 0;
    outline: none;
    color: #EDE6DD;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
}

nav a:hover,
nav a:focus {
    color: #B3B3B3;
    outline: none;
}

.header-image {
    height: 50px;
    width: 50px;
    padding: 5px;
}

.header-text {
    color: #EDE6DD;
    letter-spacing: 1px;
    font-size: 1.1em;
}

.navbar-toggle {
    color: #EDE6DD;
    position: relative;
    float: right;
    padding: 6px 10px;
    margin: 8px 0px;
    background-color: transparent;
    border-radius: 4px;
}

.navbar-toggle:hover, .navbar-toggle:focus {
    background-color: transparent;
    color: #B3B3B3;
}

/****************************************** END HEADER *************************************************/

/****************************************** START BODY *************************************************/

/*********** START HOME ************/
.recent-column {
    background: #F2F2F2;
    border: 2px solid #CCCCCC;
    padding: 0 20px 20px 20px;
    margin-bottom: 20px;
    min-height: 525px;
}

.recent-column h3 {
    margin: 20px 0 20px 0;
}

.post-preview {
    margin-top: 5px;
    padding: 10px 15px 10px 15px;
    background: #ffffff;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    border-left: 3px solid #DB4437;
}

.post-preview h4 {
    margin: 5px 0 5px 0;
}

.post-preview-description, .news-description {
    color: #999999;
    word-wrap: break-word;
}

.news-container {
    padding: 10px 15px 10px 15px;
    background: #ffffff;
    border-bottom: 1px solid #CCCCCC;
    border-left: 3px solid #4285F4;
}

.news-title {
    color: #4285F4;
}

/*********** END HOME ************/

/*********** START BLOG ************/
.tiny-description {
    font-size: 13px;
}

.post-author {
    padding-bottom: 10px;
}

.post-title {
    margin-top: 0px;
}

.author-img {
    margin: 10px 0 20px 0;
    /*TODO: take this to medium/high res*/
    /*margin: 20px 0 20px 0;*/
    text-align: center;
}

.big-post-container {
    border: none;
    padding: 0 10px 15px 10px
}

.big-post-title {
    margin-top: 5px;
}

.big-post-author {
    /*TODO: take this to medium/high res*/
    /*margin: 10px 0 0 0;*/
}

.big-post-date {
    font-weight: bold;
}

.tiny-post-container {
    -webkit-border-image: url('../img/horizontal-line.jpg') 100% 0 100% 0 repeat !important;
    -moz-border-image: url('../img/horizontal-line.jpg') 100% 0 100% 0 repeat !important;
    border-image: url('../img/horizontal-line.jpg') 100% 0 100% 0 repeat !important;
    margin: 20px 0 20px 0;
    padding: 15px 0 15px 20px;
    background: #F2F2F2;
}

.tag-container {
    /* min-height: 150px !important; */
    padding: 10px 0 15px 0;
}

.tag-container-tiny {
    padding: 5px 0 8px 0;
}

.tag-container, .tag-container-tiny {
    margin: 20px 0 0 0;
    -webkit-border-image: url('../img/horizontal-line.jpg') 100% 0 100% 0 repeat !important;
    -moz-border-image: url('../img/horizontal-line.jpg') 100% 0 100% 0 repeat !important;
    border-image: url('../img/horizontal-line.jpg') 100% 0 100% 0 repeat !important;
}

.tag-preview {
    margin: 2px 3px;
    padding: 3px;
    font-size: 11px !important;
}

.tag-preview:hover {
    background: #4285F4 !important;
}

.big-post-foot {
    min-height: 150px;
    -webkit-border-image: url('../img/horizontal-line.jpg') 0 0 100% 0 repeat !important;
    -moz-border-image: url('../img/horizontal-line.jpg') 0 0 100% 0 repeat !important;
    border-image: url('../img/horizontal-line.jpg') 0 0 100% 0 repeat !important;
}

.tiny-post-author {
    margin: 15px 0 0 0;
}

.tiny-contributor-image {
    height: 40px;
    margin-top: 10px;
    margin-left: 5px;
}

.tiny-post-date {
    font-weight: bold;
    margin-top: 5px;
    font-size: 11px;
}

.post-paragraph {
    margin: 15px 0 10px;
}

.right {
    text-align: right;
}

textarea.comment {
    color: #d6d6d7;
    resize: none;
    width: 100%;
    height: 100px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-color: #d6d6d7;
    border-width: 2px;
    padding: 8px 15px 8px 15px;
}

button.comment {
    color: #fff;
    background-color: #db4538;
    text-align: right;
    margin-top: 10px;
}

form .tiny-post-container {
    padding: 15px 20px 15px 20px;
}

/*********** END BLOG ************/

/*********** START WHO WE ARE ************/
.wwa-background {
    background: url('../img/world-map.png') no-repeat;
    height: 573px;
    width: 100%;
}

.wwa-contributor-container {
    margin: 10px;
    padding: 10px 0 5px 20px;
    background-color: #F2F2F2;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    box-shadow: 0px 1px 2px 0px white inset,
    0px 1px 2px 0px white;
}

.wwa-contributor-image {
    height: 80px;
}

.wwa-contributor-name {
    margin: 10px 0 0 0;
}

.social-tiny-container {
    margin: 10px 0 20px 0;
}

.wwa-media-body {
    margin: 10px 0 0 0;
    min-height: 80px;
    padding: 0 0 0 5px;
    -webkit-border-image: url('../img/vertical-line.jpg') 0 0 0 100% repeat;
    -moz-border-image: url('../img/vertical-line.jpg') 0 0 0 100% repeat;
    border-image: url('../img/vertical-line.jpg') 0 0 0 100% repeat;
}

/*********** END WHO WE ARE ************/

/****************************************** END BODY *************************************************/

/****************************************** START FOOTER *************************************************/
footer {
    position: absolute;
    min-width: 100% !important;
    bottom: 0;
    width: 100%;
    /* Height must match #body padding-bottom propery */
    height: 75px;
    background: #F2F2F2;
    -webkit-border-image: url('../img/line-down.jpg') 0 0 5 0 repeat;
    -moz-border-image: url('../img/line-down.jpg') 0 0 5 0 repeat;
    border-image: url('../img/line-down.jpg') 0 0 5 0 repeat;
}

.footer-logo {
    margin: 5px 0;
}

.footer-list {
    margin-top: 15px;
    color: #CCCCCC;
    -webkit-border-image: url('../img/vertical-line.jpg') 0 0 0 90 repeat;
    -moz-border-image: url('../img/vertical-line.jpg') 0 0 0 90 repeat;
    border-image: url('../img/vertical-line.jpg') 0 0 0 90 repeat;
}

.footer-center {
    margin-left: 20%;
}

/****************************************** END FOOTER  ************************************************