<div ng-repeat="post in blogCtrl.postList" ng-include="blogCtrl.getPostTemplate($index)"></div>

<script id="views/blog/preview/big.html" type="text/ng-template">
    <div class="row">
        <div class="small-12">
            <div class="small-4 columns author-img">
                <img class="image-shadow" ng-src="{{blogCtrl.contributorList[post.author].photo}}" alt="Profile photo of {{blogCtrl.contributorList[post.author].name }}"/>
            </div>
            <div class="small-8 columns big-post-container">
                <h1><a class="dark-grey dark-grey-hover" ng-href="#/blog/{{post.uniqueTitle}}">{{post.title}}</a></h1>

                <h3 class="big-post-author"><a class="red red-hover" ng-href="#">{{blogCtrl.contributorList[post.author].name}}</a></h3>
                <a class="big-post-date grey grey-hover" ng-href="#">Date: {{post.createdAt | date:'yyyy-MM-dd'}} <span ng-if="post.createdAt != post.modifiedAt">(updated at {{post.modifiedAt | date:'yyyy-MM-dd HH:mm'}})</span></a>
            </div>
        </div>
        <div class="small-12">
            <img class="big-image" ng-src="http://localhost/{{post.cover}}" alt="">
        </div>
        <div class="small-12 big-post-foot">
            <div class="show-for-medium-up">
                <div class="row tag-container-tiny">
                    <a class="label label-default tag-preview" ng-href="#" ng-repeat="tag in post.tags">{{tag.name}}</a>
                </div>
            </div>
            <div class="small-12 big-post-container line-height">
                <p>{{post.content}}</p>
                <a href="#/blog/{{ post.uniqueTitle }}">Read more</a>
            </div>
        </div>
    </div>
</script>

<script id="views/blog/preview/tiny.html" type="text/ng-template">
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="row tag-container-tiny">
                <a class="label label-default tag-preview" ng-href="#" ng-repeat="tag in post.tags">{{tag.name}}</a>
            </div>
            <div class="row">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object image-shadow tiny-contributor-image" ng-src="{{blogCtrl.contributorList[post.author].photo}}"
                             alt="Profile photo of {{blogCtrl.contributorList[post.author].name}}">
                    </a>

                    <div class="media-body">
                        <h5 class="tiny-post-author"><a class="red red-hover" ng-href="#">{{blogCtrl.contributorList[post.author].name}}</a></h5>
                        <a class="tiny-post-date grey grey-hover" ng-href="#">Date: {{post.createdAt | date:'yyyy-MM-dd'}} <span ng-if="post.createdAt != post.modifiedAt">(updated at {{post.modifiedAt | date:'yyyy-MM-dd HH:mm'}})</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-12 tiny-post-container line-height">
            <div class="col-md-3 col-sm-3 col-xs-12 fix-row-padding">
                <img class="image-shadow tiny-image" ng-src="http://localhost/{{post.cover}}" alt="">
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12 tiny-description">
                <h4><a class="dark-grey dark-grey-hover" ng-href="#/blog/{{post.id}}">{{post.title}}</a></h4>

                <p>{{post.content}}</p>
                <a href="#/blog/{{ post.uniqueTitle }}">Read more</a>
            </div>
        </div>
    </div>
</script>